.page-continer {
    display: inline-block;
    position: relative;
    margin: 141px 15% 0 15%;
    padding-bottom: 50px;
    width: 70%;
    background-color: white;
    z-index: -1;
}

hr {
    width: 90%;
}
.about_us-heading {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 60px;
    margin-right: 60px;
    text-align: center;
}
.about_us-heading h1 {
    color: rgb(6, 107, 152);
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 5px;
}
.about_us-heading p {
    color: rgb(128, 128, 128);
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.profile-left, .profile-right {
    padding: 20px 0;
    margin: 0 15%;
    width: 70%;
}
.container img {
    width: 250px;
}
.profile-left > .container {    
    display: inline-block;
    text-align: right;
    width: 49%;
}
.profile-left img {
    float: left;
}
.profile-right > .container {    
    display: inline-block;
    text-align: left;
    width: 49%;
}
.profile-right img {
    float: right;
}

.text-align .title {
    font-size: 30px;
    color: #066b98;
}
.text-align .position,.text-align .education {
    font-size: 20px;
    color: #808080;
}
.lower-text {
    display: none;
}



/* Half page sizing */
@media (max-width: 970px) {
    .container {
        margin: 0 25%;
        width: 50%
    }
    .container img {
        width: 100%;
        padding: 10px 0;
    }
    .text-align {
        text-align: center;        
    }    
    .text-align .title {
        font-size: 25px;
        color: #066b98;
    }
    .text-align .position,.text-align .education {
        font-size: 15px;
        color: #808080;
    }
    .lower-text {
        display: inline;
    }
    .upper-text {
        display: none;
    }    
}
