@import url(https://fonts.googleapis.com/css?family=Amaranth);

body { 
    background-color: #f6f6f6;
}

.buffer {
    width: 100%;
    height: 7px;
    background-color: rgb(1,33,154);
}


/* Navigation bar */
header {
    background: #FCFCFC;
    border-bottom: 1px solid #0893eb; 
    float: left; 
    width: 100%; 
    height: 120px; 
    position: fixed; 
    z-index: 10;
}

/* Navigation bar logo */
nav a.logo {
    display: inline-block;
    height: inherit;
    left: 300px;
    position: absolute;
    margin-top: 5px;
    text-decoration: none;
    text-shadow: 1px 1px 2px #000000;
    font-family: Sans-serif;
    font-size: 70px;
    color: rgb(1,33,154);
}
a.logo img {
    width: 120px;
}
.mobile-display {
    display: none;
}



/* Navigation bar tabs */
nav ul {
    position: absolute;
    float: right;
    right: 300px;
    margin-top: 60px;
}
nav li {
    float: left;
    margin-top: 25px;
    margin-left: 10px;
}
nav li a {
    padding: 5px 10px;
    color: #6f6f6f; 
    text-decoration: none; 
    text-transform: uppercase; 
    font-family: 'Amaranth', sans-serif; 
    font-size: 15px;
    letter-spacing: 2;
    transition: 0.3s;
}
nav li a.active, nav li a:hover { 
    color: black;
    background-color: #BDC9E5;    
}

.nav-contact {
    font-family: 'Amaranth', sans-serif; 
    display: block;
    position: absolute;
    right: 310px;
    top: 55px;
    color: #6f6f6f;
}
.nav-contact a {    
    color: #0893eb;
}

.nav-contact a, .nav-contact span  {
    text-decoration: none;    
    font-size: 25px;
}


/* Half page sizing */
@media (max-width: 1370px) {
    nav a.logo {
        left: 20px;
    }
    nav ul {
        right: 20px;
    }
    .nav-contact  {
        right: 30px;
    }
}

@media (max-width: 900px) {
    header {
        height: 100px;
    }
    nav a.logo {
        font-size: 50px;
        left: 20px;
        margin-top: 20px;
    }
    a.logo img {
        width: 80px;
    }
    nav ul {
        right: 20px;
        margin-top: 45px;
    }
    nav li a {
        padding: 0;
    }
    .nav-contact  {
        top: 40px;
        right: 30px;
    }
}

/* Mobile styling */
@media (max-width: 580px) {
    nav .desktop-display { 
        display: none;
    }
    .nav-contact {
        display: none;
    }
    header {
        height: 70px;
    }
    nav a.logo {
        margin-top: 8px;
        font-size: 30px;
    }
    a.logo img {
        width: 60px;
    }
    .nav-contact a, .nav-contact span  {
        text-decoration: none;    
        font-size: 20px;
    }
    .mobile-display {
        position: relative;
        display: inline-block;
        float: right;
        margin-top: 19px;
        margin-right: 20px;
    }
    .drop-btn {
        float: right;        
        border: none;
        background: #C7C7C7;
        font-size: 1.6em;
        border-radius: 5px;        
    }
    .dropdown-content {
        display: none;
        background-color: #f1f1f1;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 100;
    }
    .dropdown-content a {
        display: block;        
        color: black;
        margin: 0;
        width: 100px;
        padding: 15px 16px; 
        text-transform: uppercase;
        text-decoration: none;
        font-family: 'Amaranth', sans-serif; 
    }
    .mobile-display:hover .dropdown-content {display: block;}
    .mobile-display:hover .drop-btn {background-color: #f1f1f1;}    
    .dropdown-content a:hover {background-color: #ddd;}        
}




/* Footer */
.footer-distributed {
    background: linear-gradient(to bottom, #777 0%, #363538 100%);
    width: 100%;
    height: 240px;
    box-shadow: 0 -4px 4px -2px gray;
}
.footer-left, .footer-center, .footer-right {
    display: inline-block;
    width: 32.5%;
}

/* Style all font awesome icons */
.fa {
    padding: 6px 8px;
    font-size: 25px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}







