/* Slideshow container */
.slideshow-container {    
    display: inline-block;
    position: relative;
    width: 100%;
    margin-top: 121px;
}

/* Hide the images by default */
.mySlides {
    opacity: 0;
    position: absolute;
    display: block;
    float: none;
    z-index: 1;
    transition: opacity 1s ease-in-out 2s;
}
.mySlides img {    
    width: 100%;
}

section {
    display: inline-block;
    position: relative;
    background-color: white;
    margin-left: 10%;
    width: 80%;
}
.second-container {
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
}
.second-container h1 {
    text-transform: capitalize;
    display: block;
    color: rgb(6, 107, 152);
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;    
    font-weight: 100;
    letter-spacing: 0.14px;
    line-height: 1.4em;    
}
.first-heading {
    padding-top: 10px;
}
.second-header {
    padding-top: 50px;
}
.second-container p {    
    display: block;
    color: rgb(128, 128, 128);
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;    
    font-weight: 200;
    letter-spacing: 0.14px;
    line-height: 24px;
}
strong {
    font-weight: bold;
}
.second-paragraph {
    padding-bottom: 5px;
}
.map-buffer {
    padding-bottom: 80px;
}

/* Google Map Styling */
/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {    
    display: inline-block;
    position: relative;
/*    margin-top: 120px;*/
    height: 500px;
    width: 100%;
    z-index: 1;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.bottom-buffer {
    background-color: white;
    margin-left: 7.5%;
    width: 80%;
    padding-bottom: 80px;
}